<div class="card" style="width: 15rem;" appStatus [objeto]="objeto">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img *ngIf="tipo!='pedido'&&(tipo!='comanda' || (tipo=='comanda'&&objeto.foto==''))" src="assets/{{tipo}}.svg" alt="Imagen">
          <img *ngIf="tipo=='comanda'&&objeto.foto!=''" [src]="domSanitizer.bypassSecurityTrustUrl('data:'+objeto.tipoFoto+';base64,'+objeto.foto)" alt="Imagen">
          <img *ngIf="tipo=='pedido'" src="assets/{{objeto.sector}}.svg" alt="Imagen">
        </figure>
      </div>
      <div class="media-content">
        <p *ngIf="tipo=='comanda'||tipo=='mesa'" class="title is-6">{{objeto.codigo}}</p>
        <p *ngIf="tipo=='comanda'" class="subtitle is-6">{{objeto.nombreCliente}}</p>
        <p *ngIf="tipo=='empleado'" class="title is-6">{{objeto.usuario}}</p>
        <p *ngIf="tipo=='empleado'" class="subtitle is-6">{{objeto.sector}}</p>
        <p *ngIf="tipo=='pedido'" class="title is-6">{{objeto.descripcion}}</p>
        <p *ngIf="tipo=='pedido'" class="subtitle is-6">{{objeto.idEmpleado}}</p>
        <p *ngIf="tipo=='encuesta'" class="title is-6">{{objeto.idComanda}}</p>
        <p *ngIf="tipo=='encuesta'" class="subtitle is-6">{{objeto.promedio}} puntos</p>
      </div>
    </div>


    <div *ngIf="usuario.sector=='management'&&tipo=='empleado'" class="has-text-small has-text-centered status">
      <div class="columns">
        <div class="column">
          <p>{{objeto.estado | titlecase}}</p>
        </div>
        <div class="column">
          <p>{{objeto.sueldo | importe}}</p>
        </div>
      </div>
    </div>

    <div *ngIf="tipo!='encuesta'&&(usuario.sector!='management'||(usuario.sector=='management'&&tipo!='empleado'))"
      class="has-text-small has-text-centered status">
      <p>{{objeto.estado | titlecase}}</p>
    </div>
    <div *ngIf="tipo=='encuesta'" class="has-text-small status">
      <p>{{objeto.comentario | titlecase}}</p>
    </div>

    <progress *ngIf="tipo=='encuesta'" class="progress" value="{{objeto.promedio}}" max="10" 
    [ngClass]="{'is-danger':objeto.promedio<4,'is-info':objeto.promedio<8,'is-success':objeto.promedio>8}">
      {{objeto.promedio}} puntos
    </progress>


    <footer class="card-footer" *ngIf="tipo=='mesa'&&usuario.sector=='management'">
      <a class="has-text-info card-footer-item" (click)="objeto.cerrar()">Cerrar</a>
    </footer>
    <footer class="card-footer" *ngIf="tipo=='comanda'&&usuario.sector=='mozo'">
      <a class="has-text-info card-footer-item" *ngIf="objeto.importe == null" (click)="showModalWindow(objeto, 'importe')">Cobrar</a>
      <p class=" card-footer-item" *ngIf="objeto.importe != null">{{objeto.importe | importe}}</p>
      <a class="has-text-info card-footer-item" (click)="showModalWindow(objeto, 'foto')"><span class="icon"><i class="fa fa-upload"></i></span>Foto</a>
    </footer>
    <footer class="card-footer" *ngIf="tipo=='pedido'">
      <a class="has-text-info card-footer-item" *ngIf="objeto.sector==usuario.sector&&objeto.idEmpleado==null" (click)="showModalWindow(objeto, 'time')">Tomar</a>
      <p class="card-footer-item" *ngIf="objeto.sector==usuario.sector&&objeto.idEmpleado!=null" >{{objeto.tiempo_restante | tiempo}}</p>
      <a class="has-text-info card-footer-item" *ngIf="objeto.sector==usuario.sector&&objeto.idEmpleado!=null" (click)="objeto.entregar()">Entregar</a>
      <a class="has-text-info card-footer-item" *ngIf="usuario.sector=='mozo'" (click)="objeto.servir()">Servir</a>
      <a class="has-text-info card-footer-item" *ngIf="usuario.sector=='management'&&(objeto.estado=='pendiente'||objeto.estado=='en preparación')" (click)="objeto.cancelar()">Cancelar</a>
    </footer>
    <footer class="card-footer" *ngIf="tipo=='empleado'&&usuario.sector=='management'">
      <a class="has-text-info card-footer-item" *ngIf="objeto.estado=='activo'" (click)="objeto.deshabilitar()">Deshabilitar</a>
      <a class="has-text-info card-footer-item" *ngIf="objeto.estado=='deshabilitado'" (click)="objeto.activar()">Activar</a>
    </footer>
    <footer class="card-footer" *ngIf="tipo=='encuesta'">
      <p class="card-footer-item has-text-weight-bold" title="Mozo" appLevel [puntos]="objeto.puntosMozo">{{objeto.puntosMozo}}</p>
      <p class="card-footer-item has-text-weight-bold" title="Mesa" appLevel [puntos]="objeto.puntosMesa">{{objeto.puntosMesa}}</p>
      <p class="card-footer-item has-text-weight-bold" title="Restaurante" appLevel [puntos]="objeto.puntosRestaurante">{{objeto.puntosRestaurante}}</p>
      <p class="card-footer-item has-text-weight-bold" title="Cocinero" appLevel [puntos]="objeto.puntosCocinero">{{objeto.puntosCocinero}}</p>
    </footer>
  </div>
</div>

<app-modal-list (callback)="closeModal()" [showModal]="showModal" [tipo]="type" [content]="content"></app-modal-list>