<div class="container has-navbar-fixed-top" style="padding-top:2rem;">
  <div *ngIf="pedidos.length > 0">
    <div class="columns is-multiline">
      <div *ngFor="let pedido of pedidos" class="column is-narrow">
        <app-box [tipo]="'pedido'" [objeto]="pedido"></app-box>
      </div>
    </div>
  </div>
  <div *ngIf="message!=''" class="has-text-centered">
    <p class="has-text-grey has-text-weight-bold">{{message}}</p>
  </div>
</div>

<div class="floating-menu">
    <div class="field">
      <div class="control">
        <button type="submit" class="button is-large is-info" (click)="export()">
          <span class="icon is-large">
            <i class="fa fa-lg fa-download"></i>
          </span>
        </button>
      </div>
    </div>
  </div>