<div class="container" style="margin-top:3rem;">
  <div class="columns is-centered">
    <div class="column is-one-third">

      <form (ngSubmit)="enviar()">

        <div class="columns is-multiline">
          <div *ngFor="let sector of sectores" class="column">
            <div class="field">
              <div class="control has-text-centered">
                <button (click)="submit(sector)" type="submit" class="button is-light">{{sector.sector | titlecase}}</button>
              </div>
            </div>
          </div>
        </div>

        <div class="field">
          <label for="inputUsuario" class="label">Usuario</label>
          <div class="control">
            <input type="usuario" [(ngModel)]="usuario.usuario" name='usuario' required class="input" id="inputUsuario"
              placeholder="Usuario">
          </div>
        </div>
        <div class="field">
          <label for="inputPassword" class="label">Password</label>

          <div class="control">
            <input type="password" [(ngModel)]="usuario.clave" name="clave" required class="input" id="inputPassword"
              placeholder="Password">
          </div>
        </div>

        <div class="field" style="margin-top:2.6rem">
          <recaptcha-module (callback)="isNoRobot()"></recaptcha-module>
        </div>

        <div *ngIf="can_login" class="field">
          <div class="control has-text-centered">
            <button type="submit" class="button is-info">Ingresar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>