<div class="modal" [ngClass]="{'is-active':showModal}" id="modalContent">
  <div class="modal-background" (click)="closeModal()"></div>
  <div class="modal-content">
    <div class="box">
      <table *ngIf="tipo=='list'" class="table">
        <thead>
          <tr>
            <th *ngFor="let key of keys">{{key | titlecase}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of table">
            <td *ngFor="let field of row">{{field}}</td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="tipo=='foto'">
        <div class="field has-text-centered">
          <div *ngIf="!is_loading" class="file is-centered is-info">
            <label class="file-label">
              <input class="file-input" type="file" name="resume" (change)="fileChange($event)">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fa fa-upload"></i>
                </span>
                <span class="file-label">Subir Foto</span>
              </span>
            </label>
          </div>
        </div>
      </div>
      <div *ngIf="tipo=='importe'">
        <div class="field has-text-centered">
          <label for="importe" class="label">Importe</label>
          <div class="control has-icons-left">
            <span class="icon is-left">
              <i class="fa fa-usd"></i>
            </span>
            <input type="number" [(ngModel)]="number" name="importe" required class="input" id="importe">
          </div>
        </div>
        <div class="field has-text-centered">
          <div class="control">
            <a (click)="cobrar()" class="button">Cobrar</a>
          </div>
        </div>
      </div>
      <div *ngIf="tipo=='time'">
        <div class="field has-text-centered">
          <label for="importe" class="label">Ingrese los minutos que le llevará realizar este pedido</label>
          <div class="control has-icons-left">
            <span class="icon is-left">
              <i class="fa fa-time"></i>
            </span>
            <input type="number" [(ngModel)]="number" name="importe" required class="input" id="importe">
          </div>
        </div>
        <div class="field has-text-centered">
          <div class="control">
            <a (click)="tomarPedido()" class="button">Tomar Pedido</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="closeModal()"></button>
</div>