<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation" style="min-height:6rem">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img src="assets/logo.png" width="112" height="28" style="max-height:4.75rem">
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/">
        Home
      </a>

      <a *ngIf="is_logged" class="navbar-item" routerLink="/mesas">
        Mesas
      </a>

      <div *ngIf="is_logged" class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" routerLink="/comandas">
          Comandas
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item">
            Nueva
          </a>
        </div>
      </div>

      <a *ngIf="is_logged" class="navbar-item" routerLink="/pedidos">
        Pedidos
      </a>

      <a *ngIf="is_logged&&usuario.sector!='management'" class="navbar-item" routerLink="/empleados">
        Empleados
      </a>

      <div *ngIf="is_logged&&usuario.sector=='management'" class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" routerLink="/empleados">
          Empleados
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="/register">
            Nuevo
          </a>
        </div>
      </div>

      <a *ngIf="is_logged&&usuario.sector=='management'" class="navbar-item" routerLink="/encuestas">
        Encuestas
      </a>

      <a *ngIf="is_logged&&usuario.sector=='management'" class="navbar-item" routerLink="/admin">
        Admin
      </a>

    </div>

    <div class="navbar-end">
      <div class="navbar-item has-text-centered" id="bar-buttons">
        <div class="buttons">
          <a *ngIf="!is_logged" class="button is-primary" routerLink="/login" style="background-color:#dda59b">
            <strong>Ingresa</strong>
          </a>
          <a *ngIf="is_logged" id="signout" class="button is-light" (click)="logout()">
            Salir
          </a>
          <a *ngIf="is_logged" id="nombre" class="button is-white">
            Hola {{usuario.usuario}}!
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>